# Ignorer les templates Twig (HTML)
templates/* linguist-detectable=false
templates/** linguist-detectable=false

# Ignorer les fichiers HTML générés
public/*.html linguist-detectable=false
public/** linguist-detectable=false

# Marquer PHP (Symfony) comme langage principal
src/** linguist-detectable=true
public/build/** linguist-generated=true
