# Ne pas compter les dépendances PHP
/vendor/** linguist-vendored=true

# Ne pas compter les fichiers générés/cache Symfony
/var/** linguist-generated=true

# Ne pas compter les assets compilés
/public/build/** linguist-generated=true

# Ne pas compter node_modules si tu l'as
/node_modules/** linguist-vendored=true
